//Обнуляющие и стандартизирующие  стили
@import "variable.scss";
*{
  box-sizing:border-box;
  font-family: 'Montserrat',Arial, sans-serif;
}
html , body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  // overflow-x: hidden;
  min-width: 320px;
  height: 100%;
  box-sizing:border-box;
  // background-color: $colorTextBlack;
}
a{
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

img{
  display: block;
  width: 100%;
}

