// Text color
$colorTextBlack:#000000;
$colorTextWhite:#FFFFFF;
$colorTextOrange:#FF6633;
$colorBgOrange:#FF6633;
$colorBgBlack:#000000;
$colorBgWhite:#FFFFFF;


//Font family
$family1:'Monserate', Arial , sans-serif;

//Font weight
 
 $weight1:800;
 $weight2:600;


 //Font size

 $size1:45px;
 $size2:30px;
 $size3:37px;
 $size4:20px;
 $size5:29px;
 $size6:25px;
 $size7:53px;
 $size8:30px;
 



//size after block